#day2
.objgroup
  .obj-scanner.obj{ :"data-type" => "Scanner"}
  .obj-scanner.obj{ :"data-type" => "Scanner"}
.date-block
  %p 7/20 議程第二天
.agenda-table
  .time-block 8:30

  %section.session.room-rest.long-time
    %h3.title Registration &amp; Breakfast
    %time     08:30~09:20 (50 mins)

  .time-block 9:20

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title Incredible Hacking Awards Ceremony 奇葩駭客獎頒獎典禮
    %time     09:20~09:50 (30 mins)

  .time-block 9:50

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title Wargame Update 戰況報告
    %time     09:50~10:00 (10 mins)

  .time-block 10:00

  .row
    %section.session.room-r0
      %h3.title 戳戳防毒軟體死穴<br>Killing AV in x64
      .speaker  Kenny (CHROOT)
      %time     10:00~10:50 (50 mins)

    %section.session.room-r1
      %h3.title Android平臺安全性漏洞回顧<br>Review of Security Vulnerabilities on the Android Platform
      .speaker  肖梓航 Claud (安天實驗室)
      %time     10:00~10:50 (50 mins)


    %section.session.room-r2
      %h3.title 請謹慎編碼，哪怕它只是一句錯誤處理— 來自 win32k!EPATHOBJ::pprFlattenRec 漏洞的啟示<br>Analysis on the EPATHOBJ Exploit
      .speaker  王宇 (奇虎360)
      %time     10:00~10:50 (50 mins)

  .time-block 10:50

  %section.session.room-rest
    %h3.title Break
    %time     10:50–11:10 (20 mins)

  .time-block 11:10

  .row
    %section.session.room-r0
      %h3.title 南韓如何培養白帽駭客？<br>How South Korea Makes White-hat Hackers 2013 edition
      .speaker  Lee SeungJin / Beist (GreyHash)
      %time     11:10~12:00 (50 mins)


    %section.session.room-r1
      %h3.title 逃離安卓動態檢測 &amp; 訂票助手一日談<br>Escaping Android Dynamic Analysis; Chinese New Year Train Ticket Ordering Day
      .speaker  趙閩 &amp; 倪超 (金山網路)
      %time     11:10~12:00 (50 mins)

    %section.session.room-r2
      %h3.title 光與影 日本銀行業的資訊安全<br>Light &amp; Shadow about Banking $ecurity @Japan"
      .speaker  Hiroshi Aido &amp; Manaka Takane
      %time     11:10~12:00 (50 mins)


  .time-block 12:00

  %section.session.room-rest.long-time
    %h3.title Lunch
    %time     12:00–13:00 (60 mins)

  .time-block 13:00

  .row
    %section.session.room-r0
      %h3.title (maybe?) APT1: 反攻網軍後台<br>(maybe?) APT1: Technical Backstage
      .speaker  Paul Rascagneres (Malware.Lu)
      %time     13:00~13:50 (50 mins)

    %section.session.room-r1
      %h3.title 超級祕訣 - 一天擁有 100 個 0day!<br>How can i have 100 0day for just 1day
      .speaker  Louis Hur (NSHC)
      %time     13:00~13:50 (50 mins)

    %section.session.room-r2
      %h3.title CAPTCHA 好好玩<br>Breaking image CAPTCHA for fun
      .speaker  Frank Tse (Nexusguard)
      %time     13:00~13:50 (50 mins)

  .time-block 13:50

  %section.session.room-rest
    %h3.title Break
    %time     13:50–14:10 (20 mins)

  .time-block 14:10

  .row
    %section.session.room-r0
      %h3.title EMV晶片卡POS裝置的實體與溝通協定分析<br>Protocol and physical analysis of EMV POS devices.
      .speaker  Andrea Barisani (oCERT)
      %time     14:10~15:00 (50 mins)

    %section.session.room-r1
      %h3.title 瀏覽器和本地域<br>Browser and Local Zone
      .speaker  于暘 TombKeeper (NSFOCUS)
      %time     14:10~15:00 (50 mins)

    %section.session.room-r2
      %h3.title Android Hooking Attack
      .speaker  Minpyo Hong / Secret &amp; Dongcheol Hong / hinehong (SEWorks)
      %time     14:10~15:00 (50 mins)

  .time-block 15:00

  %section.session.room-rest
    %h3.title Coffee Break
    %time     15:00–15:20 (20 mins)

  .time-block 15:20

  .row
    %section.session.room-r0
      %h3.title 以開源軟體進行GSM安全研究<br>GSM Security Research using Open Soruce Tools
      .speaker  Harald Welte (Osmocom)
      %time     15:20~16:10 (50 mins)

    %section.session.room-r1
      %h3.title Exploiting JRE — JRE安全机制与漏洞挖掘研究
      .speaker  李驍 &amp; 聶森 (上海交大)
      %time     15:20~16:10 (50 mins)

    %section.session.room-r2
      %h3.title 靜態與動態智慧型漏洞文件分析系統<br>Static Analysis and Dynamic Instrumentation for Intelligent Exploit Analysis
      .speaker  Rahul Sasi (Garage4Hackers)
      %time     15:20~16:10 (50 mins)

  .time-block 16:10

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title Wargame 頒獎
    %time     16:10–16:40 (30 mins)

  .time-block 16:40

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title 閉幕與展望 HITCON 2014<del>?</del>
    %time     16:40–17:00 (20 mins)

  .time-block 17:00
