#day1
.objgroup
  .obj-scanner.obj{ :"data-type" => "Scanner"}
%h2.title Agenda
.date-block
  %p
    7/19 議程第一天<br>
    %small <a href="#day2">跳到第二天 day2 7/20 →</a>
.agenda-table

  .time-block 08:30

  %section.session.room-rest.long-time
    %h3.title Registration &amp; Breakfast
    %time     08:30–09:30 (60 mins)

  .time-block 09:30

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title 總召致詞 - Cyberwar, In Hack We Trust<br>講師介紹、攤位活動、贊助商介紹、活動介紹
    .speaker  TT (HITCON 總召)
    %time     09:30–09:45 (15 mins)

  .time-block 09:45

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title
      %a.lightbox{ :href => "#day1-keynote" }
        Opening Keynote
    .speaker  黃彥男 (行政院科技顧問組副執行秘書)
    %time     09:45–09:50 (05 mins)

  .time-block 09:50

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title Wargame Intro 說明 - Fight!
    .speaker  Orange (HITCON 活動組)
    %time     09:50–10:00 (10 mins)

  .time-block 10:00

  .row
    %section.session.room-r0
      %h3.title
        %a.lightbox{ :href => "#day1-a-r0" }
          駭客人民共和國: 中國伊朗跟俄羅斯網軍的分析與比較<br>People's Republic of Cyber Warfare: Comparing China Iran &amp; Russia Militarization of Cyberspace
      .speaker  William Hagestad II (Red Dragon Rising)
      %time     10:00–10:50 (50 mins)

    %section.session.room-r1
      %h3.title
        %a.lightbox{ :href => "#day1-a-r1" }
          程序員的蟲洞漂流<br>Life of Coder: The adventure through the landscape of bugs
      .speaker  Tim Hsu (CHROOT)
      %time     10:00–10:50 (50 mins)

    %section.session.room-r2
      %h3.title
        %a.lightbox{ :href => "#day1-a-r2" }
          建立惡意軟體分析的新武器<br>Building new weapons for malware analysts
      .speaker  Nguyen Anh Quynh (COSEINC)
      %time     10:00–10:50 (50 mins)

  .time-block 10:50

  %section.session.room-rest
    %h3.title Break
    %time     10:50~11:10 (20 mins)

  .time-block 11:10

  .row
    %section.session.room-r0
      %h3.title 
        %a.lightbox{ :href => "#day1-b-r0" }
          資料科學家未曾公開之資安研究事件簿<br>The undisclosed files of incidents by the data scientist
      .speaker  陳昇瑋 (Sinica)
      %time     11:10~12:00 (50 mins)

    %section.session.room-r1
      %h3.title 
        %a.lightbox{ :href => "#day1-b-r1" }
          那些洞，我們一起追的 OS X Rootkits<br>OS X Rootkits Stuff
      .speaker  Pedro Vilaça (COSEINC)
      %time     11:10~12:00 (50 mins)

    %section.session.room-r2
      %h3.title 
        %a.lightbox{ :href => "#day1-b-r2" }
          從系統設計建置面談 APT 防禦<br>APT defense from the view of security architecture
      .speaker  Kiyoung Kim (AhnLab)
      %time     11:10~12:00 (50 mins)

  .time-block 12:00

  %section.session.room-rest.long-time
    %h3.title Lunch
    %time     12:00–13:20 (80 mins)

  .time-block 13:20

  .row
    %section.session.room-r0
      %h3.title 
        %a.lightbox{ :href => "#day1-c-r0" }
          APT 特徵的視覺資料分析法<br>Visual Data Analytics - Graphing your Indicators
      .speaker  Stephen Ginty &amp; Brandon Dixon (Verisign)
      %time     13:20~14:10 (50 mins)

    %section.session.room-r1
      %h3.title 
        %a.lightbox{ :href => "#day1-c-r1" }
          0-Day 輕鬆談 - Happy Fuzzing Internet Explorer<br>0-Day Easy Talk - Happy Fuzzing Internet Explorer
      .speaker  Orange Tsai (CHROOT)
      %time     13:20~14:10 (50 mins)

    %section.session.room-r2
      %h3.title 
        %a.lightbox{ :href => "#day1-c-r2" }
          數位鷹眼系統: 以網路數位情資對抗 APT 攻擊<br>Digital Eagle Eye System: Use Cyber Intelligence against APT Attacks
      .speaker  Kevin Yu / skyo (中華電信)
      %time     13:20~14:10 (50 mins)

  .time-block 14:10

  %section.session.room-rest
    %h3.title Break
    %time     14:10–14:30 (20 mins)

  .time-block 14:30

  .row
    %section.session.room-r0
      %h3.title 
        %a.lightbox{ :href => "#day1-d-r0" }
          全球間諜：互聯網監控全球趨勢 棱鏡門與中國駭客威脅論<br>Global Cyber Espionage and Chinese Hacker Threats, Internet Survillance and PRISM
      .speaker  萬濤 (IDF)
      %time     14:30~15:20 (50 mins)

    %section.session.room-r1
      %h3.title 
        %a.lightbox{ :href => "#day1-d-r1" }
          惡意軟體的進階免殺技巧<br>Advance Malware Evasion and Hiding Techniques
      .speaker  Rong Hwa Chong (FireEye)
      %time     14:30~15:20 (50 mins)

    %section.session.room-r2
      %h3.title 
        %a.lightbox{ :href => "#day1-d-r2" }
          深入Dalvik Dex教學:反制模擬器<br>Dex Education 201: Anti-Emulators
      .speaker  Tim Strazzere (Lookout Mobile Security)
      %time     14:30~15:20 (50 mins)

  .time-block 15:20

  %section.session.room-rest
    %h3.title Coffee Break
    %time     15:20–15:40 (20 mins)

  .time-block 15:40

  .row
    %section.session.room-r0
      %h3.title 
        %a.lightbox{ :href => "#day1-e-r0" }
          APT網際飛梭：從自動化分析到拆解 APT 後台駭客活動<br>APT Cyber Shuttle: From Automated Analysis to TTP Observation
      .speaker  Xecure-Lab &amp; Sinica
      %time     15:40~16:30 (50 mins)

    %section.session.room-r1
      %h3.title 
        %a.lightbox{ :href => "#day1-e-r1" }
          線上遊戲矛盾大對決<br>Spears and shields on online game
      .speaker  Seunghyun Seo
      %time     15:40~16:30 (50 mins)

    %section.session.room-r2
      %h3.title 
        %a.lightbox{ :href => "#day1-e-r2" }
          目標鎖定攻擊與工控系統安全：日本如何應對兩大趨勢<br>How does Japan dea with Targeted Attack and SCADA Security
      .speaker  林永熙 Jack (JPCert)
      %time     15:40~16:30 (50 mins)

  .time-block 16:30

  %section.session.room-all
    .room.r0  R0
    .room.r1  R1
    .room.r2  R2
    %h3.title Wargame Update 戰況報告
    %time     16:30–17:00 (30 mins)

  .time-block 17:00
