#day1-keynote.session-box
  -#-------------------------------------------
  .room.r0    R0
  .room.r1    R1
  .room.r2    R2
  %h2.title   Opening Keynote
  .speaker    黃彥男
  .country    Taiwan
  .company    行政院科技顧問組副執行秘書
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 沒有介紹
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 沒有介紹
    .en
      %p N/A


#day1-a-r0.session-box
  -#-------------------------------------------
  .room.r0    R0
  %h2.title   駭客人民共和國: 中國, 伊朗跟俄羅斯網軍的分析與比較<br>People's Republic of Cyber Warfare: Comparing China, Iran & Russia Militarization of Cyberspace
  .speaker    William Hagestad II
  .company    Red Dragon Rising
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p William Hagestad II 是一位國際認可的中國解放軍資訊戰專家，他對於內部的IT安全管理和外部的安全政策提出建議。
    .en
      %p William Hagestad II is an internationally recognized subject matter expert on the Chinese People’s Liberation Army & Government Information Warfare. He advises with regard to their internal IT security governance and external security policies.
  -# 議程說明
  .session-note
    .zh
      %p 國家機關使用網路科技的動機 - 伊朗共和國、俄羅斯、中華人民共和國之間的比較與研究伊朗、俄羅斯、中國都擁有發展良好的資訊安全防護與攻擊技術，在西方世界看來。講者將會分享他以外國人的角度分析這3個國家的經驗，包含西方國家（外國人）的觀點以及這些國家在資訊領域發展進階武器的不同動機。
    .en
      %p Nation State Motivations for Using the Cyber Realm – Comparative Study of Islamic Republic of Iran, Russian Federation & the People’s Republic of China. International governments including the Islamic Republic of Iran, Russian Federation and the People’s Republic of China all have very well developed cyber capabilities both offensively and defensively; this is the Western world view. During this presentation a foreigner’s international experience reviewing, studying and researching these three nation states will be presented. Included in this 360 degree review will be both the Western/foreigner’s perspective and the distinct motivations by each country to feel compelled to develop such technologically advanced national security weapons in the information realm.
