- content_for :hero do
  = render "/2013/hero-page"

.section.agenda
  %h2.title Call for paper
  .content
    :markdown
      ## 中文
      
      1. 第九屆台灣駭客年會將於 2013 年 7 月 19~20 日（週五、六）假中 央研究院 人文社會科學館舉行，為因應今年國際資安事件頻傳，除了網路間諜行動越演越烈之外，甚至逐漸轉向為能夠影響一國政經情勢之資訊戰態勢，HITCON籌辦委員會為提升國內資安能量，並厚植國內資安人才，今年特擴大舉辦徵稿，內容涵蓋資訊安全技術、關鍵基礎保護、資訊法規政策、資安人才培育及相關研究論文等，歡迎各界人士踴躍投稿。
      2. 為使審核標準與流程一致，HITCON 今年首次使用稿件管理系統收搞，請欲投稿者於 2013年 6 月 30 日前，至 <http://cfp2013.hitcon.org> 註冊相關資訊與上傳稿件，俾利議程委員審核。
      3. 為鼓勵投稿，本次會議將於發表當日致贈每篇被接受之論文 NT$3,000 元整。此外，大會將依作者意願，將論文或演講內容以電子或書面媒體方式散佈。
      4. 除了上述的論文徵求外，本次駭客年會計畫了一場 0-day exploit 展示，只要在 2013 年 6 月 15 日前，將您個人所發現的漏洞(未公開且尚未被修正)，以電子郵件方式傳送至 agenda2013 [at] hitcon.org，經過確認，就有機會免費取得本屆駭客年會的入場券，並且上台展示漏洞。

    %a.btn{ :href => "http://cfp2013.hitcon.org/openconf.php" } 申請

  .content
    :markdown
      ### English

      1. The 9th Hack In Taiwan Conference ( HITCON ) will be held on 19th~20th of July, 2013. With the increasing number of information security related incidents and the escalation of network espionage into cyber-warfare that is capable of impacting a nation economics and politics, the HITCON organizing committee have decided to broaden the scope of this year's call for papers in order to increase the general awareness of information security and to cultivate the related talents in Taiwan. This year's topics will encompasses information security technologies and techniques, protection of basic infrastructure, information security related laws and policies, training and development for information security professionals and other related research papers. We encourage paper submission from everyone.
      2. We are introducing a new conference paper management system in this year's HITCON in order to ensure that we've consistent standards and procedures for paper review. For those wishing to submit their paper, please apply for an account at <http://cfp2013.hitcon.org> then upload the paper there for review before 30th Jun 2013.
      3. In order to encourage paper submission, we'll award a speaking honorarium of NTD$3000 on the conference day for each accepted paper. Also, at the discretion of the author, we'll publish the paper electronically or in printed media.
      4. In addition to the above mentioned call for papers, this year's HITCON will feature a 0-day exploit demonstration. To apply, please email an unpatched and unpublished exploit that you've discovered personally to hit2013 [at] hitcon.org before 15th Jun 2013. Upon confirmation, you'll have the chance to obtain a free pass to this year's HITCON, and demonstrate the exploit on stage.

    %a.btn{ :href => "http://cfp2013.hitcon.org/openconf.php" } Apply
