- content_for :hero do
  = render "/2013/hero-page"

.section.agenda
  .objgroup
    .obj-scanner.obj{ :"data-type" => "Scanner"}
  %h2.title Agenda
  .agenda-table
    .date-block
      %p 7/19 議程第一天
    .time-block 8:30

    .session.room-rest.long-time
      .title    Registration &amp; Breakfast
      .time     08:30–09:30 (60 mins)
    
    .time-block 9:30

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    總召致詞：Cyberwar, In Hack We Trust<br>講師介紹、攤位活動、贊助商介紹、活動介紹
      .speaker  總召 TT
      .time     09:30–09:45 (15 mins)
      
    .time-block 9:45

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    Opening Keynote
      .speaker  黃彥男
      .time     09:45–09:50 (05 mins)
      
    .time-block 9:50

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    Wargame 說明 - Fight!
      .time     09:50–10:00 (10 mins)
      
    .time-block 10:00

    .row
      .session.room-r0
        .title    駭客人民共和國: 中國伊朗跟俄羅斯網軍的分析與比較<br>People's Republic of Cyber Warfare: Comparing China Iran &amp; Russia Militarization of Cyberspace
        .speaker  William Hagestad II
        .time     10:00–10:50 (50 mins)

      .session.room-r1
        .title    程序員的蟲洞漂流<br>Life of Coder: The adventure through the landscape of bugs
        .speaker  Tim Hsu
        .time     10:00–10:50 (50 mins)

      .session.room-r2
        .title    建立惡意軟體分析的新武器<br>Building new weapons for malware analysts
        .speaker  Nguyen Anh Quynh
        .time     10:00–10:50 (50 mins)

    .time-block 10:50

    .session.room-rest
      .title    Break
      .time     10:50~11:10 (10 mins)
      
    .time-block 11:10

    .row
      .session.room-r0
        .title    資料科學家未曾公開之資安研究事件簿<br>The undisclosed files of incidents by the data scientist
        .speaker  陳昇瑋
        .time     11:10~12:00 (50 mins)

      .session.room-r1
        .title    那些洞，我們一起追的 OS X Rootkits<br>OS X Rootkits Stuff
        .speaker  Pedro Vilaça
        .time     11:10~12:00 (50 mins)

      .session.room-r2
        .title    從系統設計建置面談 APT 防禦<br>APT defense from the view of security architecture
        .speaker  Kiyoung Kim
        .time     11:10~12:00 (50 mins)

    .time-block 12:00

    .session.room-rest.long-time
      .title    Lunch
      .time     12:00–13:20 (80 mins)

    .time-block 13:20

    .row
      .session.room-r0
        .title    APT 特徵的視覺資料分析法<br>Visual Data Analytics - Graphing your Indicators
        .speaker  Stephen Ginty &amp; Brandon Dixon
        .time     13:20~14:10 (50 mins)

      .session.room-r1
        .title    0-Day 輕鬆談 - Happy Fuzzing Internet Explorer<br>0-Day Easy Talk - Happy Fuzzing Internet Explorer
        .speaker  Orange Tsai
        .time     13:20~14:10 (50 mins)

      .session.room-r2
        .title    數位鷹眼系統: 以網路數位情資對抗 APT 攻擊<br>Digital Eagle Eye System: Use Cyber Intelligence against APT Attacks
        .speaker  Kevin Yu (skyo)
        .time     13:20~14:10 (50 mins)

    .time-block 14:10

    .session.room-rest
      .title    Break
      .time     14:10–14:30 (20 mins)

    .time-block 14:30

    .row
      .session.room-r0
        .title    全球間諜：互聯網監控全球趨勢 棱鏡門與中國駭客威脅論<br>Global Cyber Espionage and Chinese Hacker Threats, Internet Survillance and PRISM
        .speaker  萬濤
        .time     14:30~15:20 (50 mins)

      .session.room-r1
        .title    惡意軟體的進階免殺技巧<br>Advance Malware Evasion and Hiding Techniques
        .speaker  Rong Hwa Chong
        .time     14:30~15:20 (50 mins)

      .session.room-r2
        .title    TBD
        .speaker  Tim Strazzere
        .time     14:30~15:20 (50 mins)

    .time-block 15:20

    .session.room-rest
      .title    Break
      .time     15:20–15:40 (20 mins)

    .time-block 15:40

    .row
      .session.room-r0
        .title    APT網際飛梭：從自動化分析到拆解 APT 後台駭客活動<br>APT Cyber Shuttle: From Automated Analysis to TTP Observation
        .speaker  Xecure-Lab & Sinica
        .time     15:40~16:30 (50 mins)

      .session.room-r1
        .title    線上遊戲矛盾大對決<br>Spears and shields on online game
        .speaker  Seunghyun Seo
        .time     15:40~16:30 (50 mins)

      .session.room-r2
        .title    目標鎖定攻擊與工控系統安全：日本如何應對兩大趨勢<br>How does Japan dea with Targeted Attack and SCADA Security
        .speaker  林永熙 (Jack)
        .time     15:40~16:30 (50 mins)

    .time-block 16:30

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    Wargame 戰況報告
      .time     16:30–17:00 (30 mins)
      
    .time-block 17:00

  .objgroup
    .obj-scanner.obj{ :"data-type" => "Scanner"}
    .obj-scanner.obj{ :"data-type" => "Scanner"}

  .agenda-table
    .date-block
      %p 7/20 議程第二天
    .time-block 8:30

    .session.room-rest.long-time
      .title    Registration &amp; Breakfast
      .time     08:30~09:20 (50 mins)
      
    .time-block 9:20

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    駭客奇葩獎頒獎典禮
      .time     09:20~09:50 (30 mins)
      
    .time-block 9:50

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    Wargame 戰況報告
      .time     09:50~10:00 (10 mins)
      
    .time-block 10:00

    .row
      .session.room-r0
        .title    戳戳防毒軟體死穴<br>(Kill AV in x64)
        .speaker  Kenny
        .time     10:00~10:50 (50 mins)

      .session.room-r1
        .title    Android平臺安全性漏洞回顧<br>Review of Security Vulnerabilities on the Android Platform
        .speaker  肖梓航(Claud Xiao)
        .time     10:00~10:50 (50 mins)


      .session.room-r2
        .title    請謹慎編碼，哪怕它只是一句錯誤處理— 來自 win32k!EPATHOBJ::pprFlattenRec 漏洞的啟示<br>Analysis on the EPATHOBJ Exploit
        .speaker  王宇
        .time     10:00~10:50 (50 mins)

    .time-block 10:50

    .session.room-rest
      .title    Break
      .time     10:50–11:10 (20 mins)

    .time-block 11:10

    .row
      .session.room-r0
        .title    Which country is doing good in east asia for the next generation? 
        .speaker  Lee SeungJin (Beist)
        .time     11:10~12:00 (50 mins)


      .session.room-r1
        .title    逃離安卓動態檢測 &amp; 訂票助手一日談
        .speaker  趙閩 &amp; 倪超
        .time     11:10~12:00 (50 mins)

      .session.room-r2
        .title    日本銀行業的資訊安全<br>Light &amp; Shadow about Banking $ecurity @Japan"
        .speaker  Aido
        .time     11:10~12:00 (50 mins)


    .time-block 12:00

    .session.room-rest.long-time
      .title    Lunch
      .time     12:00–13:00 (60 mins)

    .time-block 13:00

    .row
      .session.room-r0
        .title    APT1: 反攻網軍後台<br>APT1: Technical Backstage
        .speaker  Paul Rascagneres
        .time     13:00~13:50 (50 mins)

      .session.room-r1
        .title    超級祕訣 - 一天擁有 100 個 0day!<br>How can i have 100 0day for just 1day
        .speaker  Louis Hur
        .time     13:00~13:50 (50 mins)

      .session.room-r2
        .title    CAPTCHA 好好玩<br>Breaking image CAPTCHA for fun
        .speaker  Frank Tse
        .time     13:00~13:50 (50 mins)

    .time-block 13:50

    .session.room-rest
      .title    Break
      .time     13:50–14:10 (20 mins)

    .time-block 14:10

    .row
      .session.room-r0
        .title    Protocol and physical analysis of EMV POS devices.  
        .speaker  Andrea Barisani
        .time     14:10~15:00 (50 mins)

      .session.room-r1
        .title    流覽器和本地域<br>Browser and Local Zone
        .speaker  于暘 (TombKeeper)
        .time     14:10~15:00 (50 mins)

      .session.room-r2
        .title    TBD
        .speaker  Min Pyo HONG (Secret)
        .time     14:10~15:00 (50 mins)

    .time-block 15:00

    .session.room-rest
      .title    Coffee Break
      .time     15:00–15:20 (20 mins)

    .time-block 15:20

    .row
      .session.room-r0
        .title    以開源軟體進行GSM安全研究<br>GSM Security Research using Open Soruce Tools
        .speaker  Harald Welte
        .time     15:20~16:10 (50 mins)

      .session.room-r1
        .title    Exploiting JRE — JRE安全机制与漏洞挖掘研究
        .speaker  李驍 (Xiao Lee)
        .time     15:20~16:10 (50 mins)

      .session.room-r2
        .title    Static Analysis and Dynamic Instrumentation for Intelligent Exploit Analysis
        .speaker  Rahul Sasi
        .time     15:20~16:10 (50 mins)

    .time-block 16:10

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    Wargame 頒獎
      .time     16:10–16:40 (30 mins)
      
    .time-block 16:40

    .session.room-all
      .room.r0  R0
      .room.r1  R1
      .room.r2  R2
      .title    閉幕與展望 HITCON 2014
      .time     16:40–17:00 (20 mins)
      
    .time-block 17:00
