%meta{ :content => data["site-title"], :property => "og:title" }
%meta{ :content => "website", :property => "og:type" }
%meta{ :content => data["site-description"] }

%meta{ :content => data["site-url"], :property => "og:url" }
%meta{ :content => "#{data["site-description"]}/images/fb.png", :property => "og:image" }

%meta{ :content => data["site-name"], :property => "og:site_name" }
%meta{ :content => data["app-id"], :property => "fb:app_id" }
