%meta{ :content => "HITCON 台灣駭客年會 2013", :property => "og:title" }
%meta{ :content => "website", :property => "og:type" }
%meta{ :content => "http://hitcon.org/2013/", :property => "og:url" }
%meta{ :content => "http://hitcon.org/2013/images/fb.png", :property => "og:image" }
%meta{ :content => "HITCON", :property => "og:site_name" }
%meta{ :content => "371190826328806", :property => "fb:app_id" }
