= stylesheet_link_tag( "all", :media => "all" )
/[if IE]
  = stylesheet_link_tag( "ie", :media => "all" )

<link href="http://fnt.webink.com/wfs/webink.css/?project=EDF87A03-7229-4BAC-B9FF-123566984235&fonts=F77BBDE3-5270-5846-90AD-5529C2FFDA57:f=hitcon-brand,82DA4627-8191-9CE4-706C-58F3C2615A95:f=hitcon-brand-bold" rel="stylesheet" type="text/css"/>
