= javascript_include_tag( "fastclick", "all" )
%script{ :src => "/2013/javascripts/functions.js" }
%script{ :src => "/2013/javascripts/hero.js" }
%script{ :src => "/2013/javascripts/site.js" }
%script
  _site().setup();
