%script{ :src => "/2013/javascripts/fastclick.js" }
%script{ :src => "/2013/javascripts/functions.js" }
%script{ :src => "/2013/javascripts/hero.js" }
%script{ :src => "/2013/javascripts/jquery.colorbox-min.js" }
%script{ :src => "/2013/javascripts/site.js" }
%script
  _site().setup();

%script{ :src => "/2013/javascripts/all.js" }
