.container
  %h1.bigtitle HITCON <br> 2013
  %h2.slogan 我們還活著

:markdown

  ### 主辦單位

  CHROOT Security Group <http://www.chroot.org>

  ### 協辦單位

  中研院資創中心 自由軟體鑄造場 <http://www.openfoundry.org>

  ### 會議地點

  中央研究院 人文社會科學館 國際會議廳
  台北市南港區研究院路二段 128 號

  ### 會議時間

  2013/07/19 (五) 2013/07/19 (六)
