- content_for :hero do
  = render "/2013/hero-page"

.section.wargame
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  %br
  %h2.title Wargame
  
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 關於 Wargame 競賽
    :markdown

      Wargame 競賽一直是台灣駭客年會的重點項目。從第一屆以來，每屆白熱化的戰爭都聚集了不少資安的人才前來一較高下。在 2011 年開始，甚至有國外的駭客好手前來挑戰。資安駭客技術在國內一直是隱晦的技術，因為法律限制以及國情不同，無法像國外一樣光明正大的進行交流。因此，台灣駭客年會設立了 Wargame 競賽，提供一個正當且合法的環境讓大家來挑戰切磋。希望台灣能夠聚集這些資安能量，好好為我們台灣的安全奮鬥！

      你想成為駭客嗎？你想展現你的實力嗎？你想跟真正的駭客交手嗎？  
      歡迎來挑戰！

      #### 時間地點

      - Wargame 競賽 2013/07/19 (Fri) 10:00AM ~ 17:00PM
      - Wargame 競賽 2013/07/20 (Sat) 09:00AM ~ 16:30PM
      - 結果公佈及頒獎 2013/07/20 (Sat) 17:00PM ~ 17:30PM

      #### 競賽宗旨

      - 提昇國人對網路安全、資訊安全的了解程度及重視。
      - 提供一個正當且合法的網路攻防戰競賽場所。
      - 促進台灣網路安全玩家的技術交流，表揚優秀人才。

      #### 競賽說明

      - 競賽隨 HITCON 2013 會議中同時舉行。
      - 競賽採取報名制，於會議開始時公布競賽的網址。全程免費。
      - 競賽採取積分累計制，依分數高低判定優勝，提供獎金予優勝者。同分者依照送分時間判定。
      - 獎金之給予，依總獎金額按照積分分數比例分配。
      - 總獎金分配方式待後續公開。
      - 參賽者請攜帶身份證，得獎人員於頒獎後，至「報到服務櫃台」填寫資料，未當日領取者視同友情贊助，會後不得補領。

      #### 參賽資格

      - 凡付費參加 HITCON 2013 研討會之與會人士，均可報名參加競賽。惟出題關主、工作人員均不列入成績計算。


      #### 競賽規則

      ##### 關卡屬性

      - 重複性：每一個人或團體在該關卡只能拿分一次。
      - 排他性：只有一個個人或一個團體才能拿分。
      - 關卡類型：
        - Trivial
        - Web Security
        - Binary Processing
        - Forensics
        - Pwn3d

      ##### 參賽流程

      會議期間，可隨時連線至 Wargame 主機註冊報名參賽。
      競賽時間終了，進行頒獎。
      競賽過程中隨時注意現場及 IRC 的競賽公告
      
      ##### 判定優勝
      
      每一關卡都有不同的積分，時間終了時，以積分高低判定優勝，同分時以時間先後順序判定優勝。
      優勝獎金之給予，依總獎金額按照積分分數比例分配。

      ##### 比賽注意事項

      競賽期間，做出以下違規事項者將直接取消資格：

      - 進行任何破壞競賽公平公正原則之行為
      - 干擾現場網路運作
      - 對會場外部網路進行不當之入侵行為
      - 散播關卡金鑰
      - 惡意攻擊其他競賽使用者
      - 攻擊非進行競賽的聽眾

      ##### 競賽結束

      優勝者必須發表優勝感言，簡介於競賽期間，所用到的入侵、防護等相關資訊

      #### 保留權利

      主辦單位可依現場狀況調整競賽的內容、流程及規則。

  .content.en
    .title-wrapper
      %h3.title
        .span About Wargame
    :markdown

      Do you want to be a hacker? Do you want to show your skills? Do you want to fight with real hackers?

      Come and fight with us!

      #### Date and time

      - Wargame 2013/07/19 (Fri) 10:00AM ~ 17:00PM
      - Wargame 2013/07/20 (Sat) 09:00AM ~ 16:30PM
      - Score Announcement and Awarding 2013/07/22 (Sat) 17:00PM ~ 17:30PM

      #### Purpose

      - To promote the knowledge of Internet &amp; information security and raise Taiwanese people's concerns about them. To promote the knowledge of Internet & information security and raise Taiwanese people's concerns about them.
      - To provide a legitimate network wargame venue.
      - To promote communications between Taiwanese network safety players and honor talents.

      #### Instructions

      - The game would be held within the HITCON 2013 conference.
      - Sign up through the internet, the enrollment is free!
      - Throughout the game, each player's score would be accumulated.
      - Players that rank in the first fifth would be rewarded.
      - All the prize money would be splited proportional to each winning player's score.
      - The total prize money to be announced.


      #### Eligibility

      - All HITCON 2013 conference participants that bought the pass are qualified to enroll in the game, but all stage hosts and staffs would not be ranked.

      #### Game Rules

      ##### Stage Attributes:

      - Repeatability: Each player or group would only score once in such stages.
      - Exclusiveness: Only individuals or one group would score.

      ##### Stage Types:

      - Trivial
      - Web Security
      - Binary Processing
      - Forensics
      - Pwn3d

      ##### Game Process

      - The Wargame server would be open to any players that are interested during the game.
      - When the game is over, players would be rewarded depending on their rank.

      ##### Determining Winners

      - Each stages hold different scores. When the time is over, players would be ranked depending on their scores.
      - In even cases, the prize goes to the first scorer.

      ##### Please pay attention:

      During the game, there should not be any behaviors such as:

      - Diminishing the fairness and justice of the game
      - Jamming the network
      - Illegally intruding external network
      - Attacking other players
      - Attacking other attendees
      - Giving out stage keys

      ##### After the Game:

      Winning players should give a short speech and explain the approaches of intruding or decrypting that they use during the game

      #### All Rights Reserved

      The organizer reserves all the rights to adjust the game process or contents depending on conditions on spot.
