- content_for :hero do
  = render "/2013/hero-page"

.section.sponsor

  %h2.title Organizer / 主辦協辦

  .sponsor-group
    .row
      %a.block.block43{ :href => "http://www.chroot.org/", :target => "_blank" }
        .badge 連續主辦 <em>9</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/chroot.png);" }
        .block-content
          %h2.title
            %span.name CHROOT
          %p 主辦單位
      %a.block.block43{ :href => "http://www.accupass.com/", :target => "_blank" }
        .badge 提供報名系統 <em>3</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/accupass.png);" }
        .block-content
          %h2.title
            %span.name AccuPass 活動通
          %p 報名系統
      %a.block.block43{ :href => "http://www.openfoundry.org/", :target => "_blank" }
        .badge 連續補助場地 <em>4</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/ossf.png);" }
        .block-content
          %h2.title
            %span.name OSSF 自由軟體鑄造場
          %p 場地支援
    .row
      %a.block.block43{ :href => "http://evendesign.tw/", :target => "_blank" }
        .badge 連續設計網站 <em>3</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/evendesign.png);" }
        .block-content
          %h2.title
            %span.name evendesign
          %p 網站與形象設計
      %a.block.block43{ :href => "http://devco.re", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/devcore.png);" }
        .block-content
          %h2.title
            %span.name DevCore 戴夫寇爾
          %p 系統設計
      %a.block.block43{ :href => "http://sliiice.com", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/sliiice.png);" }
        .block-content
          %h2.title
            %span.name sliiice
          %p 網站與形象設計
    .row
      %a.block.block34{ :href => "http://www.xecure-lab.com/en/index.html", :target => "_blank" }
        .badge 連續協辦 <em>3</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/xecure.png);" }
        .block-content
          %h2.title
            %span.name XecureLab 艾斯酷博科技
          %p 協辦單位
      %a.block.block34{ :href => "http://www.faya.com.tw/#news", :target => "_blank" }
        .badge 連續協辦 <em>3</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/faya.png);" }
        .block-content
          %h2.title
            %span.name Faya 法亞科技整合行銷
          %p 協辦單位
      %a.block.block34{ :href => "https://www.facebook.com/groups/130560250287403/", :target => "_blank" }
        .badge 連續協辦 <em>3</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/fast.png);" }
        .block-content
          %h2.title
            %span.name NTU Fast Crypto Lab
          %p 協辦單位
      %a.block.block34{ :href => "http://www.citi.sinica.edu.tw/index_zh.php", :target => "_blank" }
        .badge 連續協辦 <em>3</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/citi.png);" }
        .block-content
          %h2.title
            %span.name 中央研究院<br>資訊科技創新研究中心
          %p 協辦單位


  %h2.title Sponsor / 贊助商

  .sponsor-group


    // 超大贊助商
    %a.big-block.block{ :href => "http://www.microsoft.com/security/msrc/default.aspx", :target => "_blank" }
      .badge <em>9 Years of Glorious Sponsorship!!</em>
      .block-image{ :style => "background-image: url(/2013/images/sponsor/ms.png);" }
      .block-content
        %h2.title
          %span.name Microsoft 微軟
        %p Ultimate Level


    // 鑽石
    .row
      %a.block.block14.empty
      %a.block.block104{ :href => "http://www.emc.com/domains/rsa/index.htm", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/rsa.png);" }
        .block-content
          %h2.title
            %span.name RSA
          %p 鑽石級贊助商
      %a.block.block14.empty
    .row
      %a.block.block14.empty
      %a.block.block104{ :href => "http://www.360.cn/", :target => "_blank" }
        .badge 連續贊助 <em>4</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/360.png);" }
        .block-content
          %h2.title
            %span.name 奇虎 360 科技
          %p 鑽石級贊助商
      %a.block.block14.empty
    .row
      %a.block.block14.empty
      %a.block.block104{ :href => "https://www.isightpartners.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/isight.png);" }
        .block-content
          %h2.title
            %span.name iSIGHT Partners
          %p 鑽石級贊助商
      %a.block.block14.empty


    // 白金
    .row
      %a.block.block64{ :href => "http://www.ijinshan.com", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/ijinshan.png);" }
        .block-content
          %h2.title
            %span.name 金山網路
          %p 白金級贊助商
      %a.block.block64{ :href => "http://www.cht.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/cht.png);" }
        .block-content
          %h2.title
            %span.name Chunghwa Telecom 中華電信
          %p 白金級贊助商


    // 金級
    .row
      %a.block.block44{ :href => "http://tw.yahoo.com/", :target => "_blank" }
        .badge 連續贊助 <em>6</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/yahoo.png);" }
        .block-content
          %h2.title
            %span.name Yahoo ! 奇摩
          %p 金級贊助商
      %a.block.block44{ :href => "http://www.trendmicro.tw/tw/index.html", :target => "_blank" }
        .badge 連續贊助 <em>4</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/trend.png);" }
        .block-content
          %h2.title
            %span.name Trend Micro 趨勢科技
          %p 金級贊助商
      %a.block.block44{ :href => "http://www.synology.com.tw/", :target => "_blank" }
        .badge 連續贊助 <em>3</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/synology.png);" }
        .block-content
          %h2.title
            %span.name Synology 群暉科技
          %p 金級贊助商
    .row
      %a.block.block44{ :href => "http://www.g1.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/g1.png);" }
        .block-content
          %h2.title
            %span.name Global Mobile 全球一動
          %p 金級贊助商
      %a.block.block44{ :href => "http://www8.hp.com/tw/zh/home.html", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/hp.png);" }
        .block-content
          %h2.title
            %span.name HP 惠普
          %p 金級贊助商
      %a.block.block44{ :href => "https://www.facebook.com/UbisoftSEA", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/ubisoft.png);" }
        .block-content
          %h2.title
            %span.name Ubisoft Entertainment
          %p 金級贊助商
    .row
      %a.block.block44{ :href => "http://www.armorize.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/armorize.png);" }
        .block-content
          %h2.title
            %span.name Armorize 阿碼科技
          %p 金級贊助商
      %a.block.block44{ :href => "http://www.broadweb.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/broadweb.png);" }
        .block-content
          %h2.title
            %span.name Broadweb 威播科技
          %p 金級贊助商
      %a.block.block44{ :href => "http://www.bot.com.tw/Pages/default.aspx", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/bot.png);" }
        .block-content
          %h2.title
            %span.name 臺灣銀行 BANK OF TAIWAN
          %p 金級贊助商

    // 晚宴獨家贊助

    .row
      %a.block.block34.empty
      %a.block.block64{ :href => "http://www.muzik-online.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/muzik.png);" }
        .block-content
          %h2.title
            %span.name Muzik-Online
          %p 晚宴獨家贊助
      %a.block.block34.empty

    // 銀
    .row
      %a.block.block43{ :href => "http://www.cisanet.org.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/cisanet.png);" }
        .block-content
          %h2.title
            %span.name 中華民國資訊軟體協會
          %p 銀級贊助商
      %a.block.block43{ :href => "http://www.easycard.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/easycard.png);" }
        .block-content
          %h2.title
            %span.name EasyCard 悠遊卡
          %p 銀級贊助商
      %a.block.block43{ :href => "http://verywed.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/verywedding.png);" }
        .block-content
          %h2.title
            %span.name veryWed 非常婚禮
          %p 銀級贊助商
    .row
      %a.block.block43{ :href => "http://www.coseinc.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/coseinc.png);" }
        .block-content
          %h2.title
            %span.name COSEINC
          %p 銀級贊助商
      %a.block.block43{ :href => "http://www.nshc.net/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/nshc.png);" }
        .block-content
          %h2.title
            %span.name NSHC
          %p 銀級贊助商
      %a.block.block43{ :href => "http://www.seworks.co.kr/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/seworks.png);" }
        .block-content
          %h2.title
            %span.name SEWorks
          %p 銀級贊助商


    .row
      %a.block.block22{ :href => "http://www.tenlong.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/tenlong.png);" }
        .block-content
          %h2.title
            %span.name 天瓏書局
          %p 特約擺攤
      %a.block.block42{ :href => "http://www.tradevan.com.tw", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/tradevan.png);" }
        .block-content
          %h2.title
            %span.name TradeVan 關貿網路
          %p 特別贊助
      %a.block.block42{ :href => "http://www.hauman.com.tw/html/index.html", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/hauman.png);" }
        .block-content
          %h2.title
            %span.name Hauman 豪勉科技
          %p 特別贊助
      %a.block.block22{ :href => "http://www.kangninglife.com.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/kangninglife.png);" }
        .block-content
          %h2.title
            %span.name KangNingLife 康寧生活會館
          %p 特約飯店


  %h2.title Media &amp; Partner / 媒體與夥伴

  .sponsor-group

    .row
      %a.block.block42{ :href => "http://techorange.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/to.png);" }
        .block-content
          %h2.title
            %span.name TechOrange
          %p 協力媒體
      %a.block.block42{ :href => "http://www.isecutech.com.tw/main/index.aspx", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/info.png);" }
        .block-content
          %h2.title
            %span.name 資安人
          %p 協力媒體
      %a.block.block42{ :href => "http://www.freebuf.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/freebuf.png);" }
        .block-content
          %h2.title
            %span.name freebuf
          %p 協力媒體
    .row
      %a.block.block42{ :href => "http://www.anti-botnet.edu.tw/content/confs/BoT2013.html", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/botnet.png);" }
        .block-content
          %h2.title
            %span.name 教育學術網路系統安全及駭客控制技術研發中心
          %p 會議夥伴
      %a.block.block42{ :href => "https://www.blackhat.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/blackhat.png);" }
        .block-content
          %h2.title
            %span.name Blackhat
          %p 會議夥伴
      %a.block.block42{ :href => "http://en.avtokyo.org/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/avtokyo.png);" }
        .block-content
          %h2.title
            %span.name AVTokyo
          %p 會議夥伴
    .row
      %a.block.block42{ :href => "http://syscan.org/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/syscan360.png);" }
        .block-content
          %h2.title
            %span.name Syscan 360
          %p 會議夥伴
      %a.block.block42{ :href => "http://www.hitb.org/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/hitb.png);" }
        .block-content
          %h2.title
            %span.name Hack In The Box
          %p 會議夥伴
      %a.block.block42{ :href => "http://secuinside.com/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/secuinside.png);" }
        .block-content
          %h2.title
            %span.name SecuInside
          %p 會議夥伴
    .row
      %a.block.block22.empty
      %a.block.block42{ :href => "http://codegate.org/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/codegate.png);" }
        .block-content
          %h2.title
            %span.name CodeGate
          %p 會議夥伴
      %a.block.block42{ :href => "http://www.powerofcommunity.net/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2013/images/sponsor/poc.png);" }
        .block-content
          %h2.title
            %span.name Power Of Community
          %p 會議夥伴
      %a.block.block22.empty
