- content_for :hero do
  = render "/2013/hero-page"

.section.sponsor

  %h2.title Organizer / 主辦協辦

  .sponsor-group
    .row
      %span.block.block45
        .badge 連續主辦 <em>9</em> 年...
        .block-image{ :style => "background-image: url(/2013/images/sponsor/chroot.png);" }
        .block-content
          %h2.title
            %span.name Chroot
          %p 主辦單位
      %span.block.block45
        .badge 提供報名系統 <em>3</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/accupass.png);" }
        .block-content
          %h2.title
            %span.name 活動通 AccuPass
          %p 報名系統
      %span.block.block45{ :href => "#" }
        .badge 連續補助場地 <em>4</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/ossf.png);" }
        .block-content
          %h2.title
            %span.name OSSF
          %p 場地支援
    .row
      %span.block.block62
        .badge 連續設計網站 <em>3</em> 年
        .block-image{ :style => "background-image: url(/2013/images/sponsor/evendesign.png);" }
        .block-content
          %h2.title
            %span.name evendesign
          %p 網站與形象設計
      %span.block.block62
        .block-image{ :style => "background-image: url(/2013/images/sponsor/sliiice.png);" }
        .block-content
          %h2.title
            %span.name sliiice
          %p 網站與形象設計
    .row
      %span.block.block34
        .block-image{ :style => "background-image: url(/2013/images/sponsor/xecure.png);" }
        .block-content
          %h2.title
            %span.name XecureLab
          %p 協辦單位
      %span.block.block34
        .block-image{ :style => "background-image: url(/2013/images/sponsor/faya.png);" }
        .block-content
          %h2.title
            %span.name 法亞科技整合行銷
          %p 協辦單位
      %span.block.block34
        .block-image{ :style => "background-image: url(/2013/images/sponsor/fast.png);" }
        .block-content
          %h2.title
            %span.name NTU Fast Crypto Lab
          %p 協辦單位
      %span.block.block34
        .block-image{ :style => "background-image: url(/2013/images/sponsor/citi.png);" }
        .block-content
          %h2.title
            %span.name 中央研究院<br>資訊科技創新研究中心
          %p 協辦單位


  %h2.title Sponsor / 贊助商

  .sponsor-group
    %span.big-block.block
      .badge <em>9 Years of Glorious Sponsorship!!</em>
      .block-image{ :style => "background-image: url(/2013/images/sponsor/ms.png);" }
      .block-content
        %h2.title
          %span.name Microsoft 微軟
        %p Ultimate Level
    .row
      %span.block.block14.empty
      %span.block.block104
        .badge 連續贊助 <em>4</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/360.png);" }
        .block-content
          %h2.title
            %span.name 360
          %p 白金級贊助商
      %span.block.block14.empty
    .row
      %span.block.block24.empty
      %span.block.block44
        .badge 連續贊助 <em>3</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/synology.png);" }
        .block-content
          %h2.title
            %span.name Synology
          %p 金級贊助商
      %span.block.block44
        .badge 連續贊助 <em>6</em> 年榮耀
        .block-image{ :style => "background-image: url(/2013/images/sponsor/yahoo.png);" }
        .block-content
          %h2.title
            %span.name Yahoo
          %p 金級贊助商
      %span.block.block24.empty
    .row
      %span.block.block44
        .block-image{ :style => "background-image: url(/2013/images/sponsor/broadweb.png);" }
        .block-content
          %h2.title
            %span.name BroadWeb
          %p 金級贊助商
      %span.block.block44
        .block-image{ :style => "background-image: url(/2013/images/sponsor/ubisoft.png);" }
        .block-content
          %h2.title
            %span.name Ubisoft
          %p 金級贊助商
      %span.block.block44
        .block-image{ :style => "background-image: url(/2013/images/sponsor/osslab.png);" }
        .block-content
          %h2.title
            %span.name OSSLab
          %p 金級贊助商
    .row
      %span.block.block24.empty
      %span.block.block44
        .block-image{ :style => "background-image: url(/2013/images/sponsor/g1.png);" }
        .block-content
          %h2.title
            %span.name 全球一動
          %p 金級贊助商
      %span.block.block44
        .block-image{ :style => "background-image: url(/2013/images/sponsor/hp.png);" }
        .block-content
          %h2.title
            %span.name HP
          %p 金級贊助商
      %span.block.block24.empty

    .row
      %span.block.block34.empty
      %span.block.block64
        .block-image{ :style => "background-image: url(/2013/images/sponsor/tenlong.png);" }
        .block-content
          %h2.title
            %span.name 天瓏書局
          %p 特約擺攤
      %span.block.block34.empty

    .row
      %span.block.block42
        .block-image{ :style => "background-image: url(/2013/images/sponsor/to.png);" }
        .block-content
          %h2.title
            %span.name TechOrange
          %p 協力媒體
      %span.block.block42
        .block-image{ :style => "background-image: url(/2013/images/sponsor/info.png);" }
        .block-content
          %h2.title
            %span.name 資安人
          %p 協力媒體
      %span.block.block42
        .block-image{ :style => "background-image: url(/2013/images/sponsor/freebuf.png);" }
        .block-content
          %h2.title
            %span.name freebuf
          %p 協力媒體
