%h1.big-title
  %span.big-title-name HITCON
  %span.big-title-year 2013
%h2.slogan
  %div= zh_lorem_words 10
  %div= lorem_words 5

%ul.lobby-info
  %li
    %h3 主辦單位
    CHROOT Security Group
    <http://www.chroot.org>
  %li
    %h3 協辦單位
    中研院資創中心 自由軟體鑄造場
    <http://www.openfoundry.org>
  %li
    %h3 會議地點
    中央研究院 人文社會科學館 國際會議廳
    [台北市南港區研究院路二段 128 號](http://goo.gl/maps/0mu6h)
  %li
    %h3 會議時間
    2013/07/19 (五) 2013/07/20 (六)

.fb-like{ "data-href" => "http://hitcon.org/2013", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450" }
.push
