.agenda {
  @extend %col2;
}

.hidden-note {
    display: none;
}

.session-box {
  margin: 0 20px;
  @include leader(2);
  @include trailer(2);
  @include at-breakpoint(30em) {
    margin: 0 auto;
    @include leader(3);
    @include trailer(3);
    width: 25em;
  }
  @include at-breakpoint($desktop) {
    width: 40em;
  }
  .title {
    @include trailing-border(3px);
    border-style: double;
    border-color: $blue;
    @include trailer(.5);
  }
  .speaker {
    text-align: center;
    @include adjust-font-size-to(16px);
  }
  .country {
    text-align: center;
    @include adjust-font-size-to(12px);
  }
  .company {
    text-align: center;
    @include adjust-font-size-to(12px);
    @include trailing-border(1px, .5);
    border-color: $blue;
    @include trailer(1);
  }
  .download {
    text-align: center;
    a {
      @include link-colors($red);
    }
    @include trailing-border(1px, .5);
    border-color: $blue;
    @include trailer(1);
    margin-top: - $base-line-height / 2;
  }
  .speaker-note {
    @include pie-clearfix;
    @include adjust-font-size-to(12px, 2/3);
    @include trailing-border(1px, .5);
    border-color: $blue;
    @include trailer(1);
    .zh:before {
      content: "講者簡介:";
      display: block;
      color: $yellow;
    }
    .en:before {
      content: "Speaker:";
      display: block;
      color: $yellow;
    }
  }
  .session-note {
    @include pie-clearfix;
    @include adjust-font-size-to(12px, 2/3);
    .zh:before {
      content: "議程簡介:";
      display: block;
      color: $yellow;
    }
    .en:before {
      content: "Session:";
      display: block;
      color: $yellow;
    }
  }
  @include at-breakpoint($desktop) {
    .zh {
      @include span-columns(6);
    }
    .en {
      @include span-columns(6 omega);
    }
  }
  p {
    @include trailer(1);
  }
}

.room {
  @include adjust-font-size-to(12px, .7);
  display: inline-block;
  padding: 1px .7em 0;
  background: $blue;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(black,.3);
  &.r0 { background: $red; }
  &.r1 { background: $dark-yellow; }
  &.r2 { background: $green; }
}

.agenda-table {
  @include trailer(3);
  @include at-breakpoint($ipad) {
    font-size: 12px;
    padding-left: 1.5em;
    .time-block {
      margin-left: -1.5em;
      text-indent: -4em;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 2px;
      height: 2px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        animation: time-light 1.5s infinite alternate;
        -webkit-animation: time-light 1.5s infinite alternate;
      }
    }
  }
  @include at-breakpoint($desktop) {
    padding-left: 6em;
    .time-block {
      margin-left: -2em;
      text-indent: -4.4em;
    }
  }
}

.date-block p {
  @include reset-box-model;
  @include adjust-font-size-to(24px,1);
  @include trailing-border(1px);
  @include trailer(1);
  border-color: $red;
  text-align: center;
  small {
    font-size: 12px;
  }
}
.time-block {
  @include adjust-font-size-to(12px);
  background: $blue;
  padding: 0 .5em;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}
.session {
  @include padding-leader(2/3);
  @include padding-trailer(2/3);
  @include adjust-font-size-to(12px, 2/3);
  &+& {
    @include leading-border(1px, 2/3);
    border-color: $blue;
  }
  @include at-breakpoint($desktop) {
    &+& {
      border-top: 0;
    }
    &[class*="room-r"] {
      @include span-columns(4);
      @include nth-omega();
      @include padding-leader(0);
    }
    &.room-all {
      @include padding-leader(0);
      text-align: center;
      @include reset-columns;
      .title {
        background: transparent; text-align: center;
      }
      time {
        margin: 0;
      }
    }
  }
  .title {
    text-align: left;
    @include leader(1/4);
    @include adjust-font-size-to(16px, 3/4);
    font-weight: bold;
    background: $dark-blue;
    @include trailer(1/4);
  }
  .speaker {
    display: inline-block;
    margin-right: 1em;
  }
  time {
    display: inline-block;
    margin-right: 1em;
  }
  &:before {
    @include adjust-font-size-to(12px, .7);
    display: inline-block;
    padding: 1px .7em 0;
    background: $blue;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(black,.3);
  }
  &.room-r0:before {
    content: "R0";
    background: $red;
  }
  &.room-r1:before {
    content: "R1";
    background: $dark-yellow;
  }
  &.room-r2:before {
    content: "R2";
    background: $green;
  }
  &.room-rest {
    float: none;
    text-align: center;
    @include reset-columns;
    @include padding-leader(1/3);
    @include padding-trailer(1/3);
    background: darken($blue, 13%);
    .title {
      text-shadow: 0 0 10px $white;
      background: transparent;
      text-align: center;
      @include at-breakpoint($desktop) {
        display: inline-block;
        margin-right: .5em;
      }
    }
    time {
      margin: 0;
      @include at-breakpoint($desktop) {
        display: inline-block;
      }
    }
  }
  &.long-time {
    @include padding-leader(2);
    @include padding-trailer(2);
  }
}




@keyframes time-light {
  0%   {
    background: darken(red, 20%);
    box-shadow: none;
    animation-timing-function: linear;
  }
  50% {
    background: red;
    animation-timing-function: ease-out;
  }
  100% {
    background: lighten(red, 30%);
    box-shadow: 0 0 7px 2px red;
  }
}

@-webkit-keyframes time-light {
  0%   {
    background: darken(red, 20%);
    box-shadow: none;
    -webkit-animation-timing-function: linear;
  }
  50% {
    background: red;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    background: lighten(red, 30%);
    box-shadow: 0 0 7px 2px red;
  }
}
