.agenda {
  @extend %col2;
}

.agenda-table {
  @include trailer(3);
}

.date-block p {
  @include reset-box-model;
  @include adjust-font-size-to(24px,1);
  @include trailing-border(1px);
  @include trailer(1);
  border-color: $red;
  text-align: center;
}
.time-block {
  @include adjust-font-size-to(12px);
  background: $blue;
  padding: 0 .5em;
  letter-spacing: 2px;
  font-weight: bold;
}
.session {
  @include padding-leader(2/3);
  @include padding-trailer(2/3);
  @include adjust-font-size-to(12px, 2/3);
  &+& {
    @include leading-border(1px, 2/3);
    border-color: $blue;
  }
  @include at-breakpoint($desktop) {
    &+& {
      border-top: 0;
    }
    &[class*="room-r"] {
      @include span-columns(4);
      @include nth-omega();
      @include padding-leader(0);
    }
    &.room-all {
      @include padding-leader(0);
      text-align: center;
      @include reset-columns;
      .title {
        background: transparent; text-align: center;
      }
      .time {
        margin: 0;
      }
    }
  }
  .title {
    text-align: left;
    @include leader(1/4);
    @include adjust-font-size-to(16px, 3/4);
    font-weight: bold;
    background: $dark-blue;
    @include trailer(1/4);
  }
  .speaker {
    display: inline-block;
    margin-right: 1em;
  }
  .time {
    display: inline-block;
    margin-right: 1em;
  }
  .room {
    @include adjust-font-size-to(12px, .7);
    display: inline-block;
    padding: 1px .7em 0;
    background: $blue;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(black,.3);
    &.r0 { background: $red; }
    &.r1 { background: $dark-yellow; }
    &.r2 { background: $green; }
  }
  &:before {
    @include adjust-font-size-to(12px, .7);
    display: inline-block;
    padding: 1px .7em 0;
    background: $blue;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(black,.3);
  }
  &.room-r0:before {
    content: "R0";
    background: $red;
  }
  &.room-r1:before {
    content: "R1";
    background: $dark-yellow;
  }
  &.room-r2:before {
    content: "R2";
    background: $green;
  }
  &.room-rest {
    text-align: center;
    @include reset-columns;
    @include padding-leader(1/3);
    @include padding-trailer(1/3);
    background: darken($blue, 13%);
    .title {
      background: transparent;
      text-align: center;
      @include at-breakpoint($desktop) {
        display: inline-block;
        margin-right: .5em;
      }
    }
    .time {
      margin: 0;
      @include at-breakpoint($desktop) {
        display: inline-block;
      }
    }
  }
  &.long-time {
    @include padding-leader(2);
    @include padding-trailer(2);
  }
}
