.btn {
  text-align: center;
  position: relative;
  display: inline-block;
  line-height: $base-line-height * 2 - 4px;
  border: 1px solid $blue;
  padding: 0 $base-line-height / 2;
  margin: 0 auto;
  @include link-colors($yellow, $white);
  &:before, 
  &:after {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -1px;
    border-top: 1px solid $dark-blue;
  }
  &:after {
    top: 1px;
  }
  &:hover {
    text-decoration: none;
    border-color: $red;
    text-shadow: 0 0 5px $yellow;
    background: rgba($white, .1);
  }
}
