$total-columns    : 8;
$column-width     : 5em;
$gutter-width     : 1em;
$grid-padding     : 0;

$ipad-columns     : 10;
$ipad-break       : 768px;
$ipad: $ipad-break $ipad-columns;
$desktop-columns  : 16;
$desktop-break    : 960px;
$desktop: $desktop-break $desktop-columns;

$container-style: magic;
$container-width: false;

.page {
  overflow: hidden;
}

// debug
@import "debug";

// $anchor variable to control how many columns of 
// the main section remain visible while side-sections are 
// displayed.
$anchor : 2;
$side   : $total-columns - $anchor;
.page {
  @include container;
}
.main-menu {
  @include transition(margin, .3s);
  @include span-columns($side); // 4
  margin-left: -100%;
  .show-menu & { margin-left: 0; }
}

.main-content {
  @include transition(margin, .3s);
  @include span-columns($total-columns omega);
  margin-right: 0;
  .show-menu & { margin-right: - ceil(space($side)); }
}

@include at-breakpoint($ipad) {
  $side : 3;
  $anchor: $ipad-columns - $side;
  .page {
    @include container;
  }
  .main-menu {
    @include span-columns($side);
    margin-left: -100%;
  }
  .main-content {
    @include span-columns($ipad-columns omega);
    margin-right: 0;
    .show-menu & { margin-right: - (space($side)) - .1; }
  }
}

@include at-breakpoint($desktop) {
  $side : 3;
  $main: $desktop-columns - $side;
  $grid-padding: $gutter-width;
  .page {
    @include container;
  }
  .main-menu {
    @include span-columns($side);
    margin-left: 0;
  }
  .main-content {
    @include span-columns($main omega);
    margin-right: 0;
    .show-menu & { margin-right: 0; }
  }
}
