$base-line-height: 25px;
$base-font-size: 16px;
$legacy-support-for-ie: false;
$relative-font-sizing: false;
$grid-background-baseline-height: $base-line-height;

$red:          #b6132d;
$blue:         #2f4768;
$dark-blue:    #091324;
$green:        #208e7f;
$yellow:       #d1cc80;
$dark-yellow:  darken(#d1cc80, 30%);
$white:        #d1dffe;

body {
  background: black image-url("bg-grid.png") repeat-y center -1px;
  color: $white;
}

@import "compass";
@import "susy";

@import "normalize";
@include normalize;
@include establish-baseline;

@import "layout";
@import "typography";
@import "replace-text-with-svg";
@import "baseline";

@import "block-item";
@import "fb";
@import "btn";
@import "menu";
@import "header";
@import "hero";
@import "footer";
@import "agenda";

@import "canvas";
