@import "compass";
@import "normalize";
@import "susy";

body {
  background: #f2540b;
}

#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}

a {
  @include link-colors(black);
}

p {
  @include reset-box-model;
  $font-size: 15px;
  @include trailer(1, $font-size);
  @include adjust-font-size-to($font-size, 1);
}

.big-title {
  margin-left: -.1em;
  $font-size: 400px;
  @include leader(20, $font-size);
  font-family: hitcon-brand-bold;
  @include adjust-font-size-to($font-size,4);
}
.big-title-name {
  color: #dce0d2;
}
.big-title-year {
  color: rgba(black,.45);
}
