= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css"
= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"
/[if IE 7]
  = stylesheet_link_tag( "//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" )
